
.googol {
  background-color: rgb(202, 199, 202); }
.next {
    background-color: rgb(64, 176, 110);
}

.pic:hover {
  background-color: white;
}

div {
  background-color: darkslateblue;
  margin: auto;
  width: 130px;
  height: 100px;
padding: 5px;
border: groove;
}
